* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    width: 50vw;
    height: auto;
}
@media screen and (max-width:900px) {
    .card {
        width: 90vw;
        height: auto;
    }
}